/* IMPOSTAZIONI GENERALI */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

#blog {
  width: 500px;
  background-image: url("/assets/img/sfondo.png");
  margin-inline: auto;
}
a {
  color: #03a9f4;
  font-weight: bolder;
}
/* HEADER */
header {
  text-transform: uppercase;
  text-align: center;
  color: white;
}
header a {
  display: block;
  font-size: 12px;
  margin-top: 10px;
  text-decoration: none;
  color: white;
}
header h1 {
  margin-top: 50px;
  font-size: 12px;
  margin-bottom: 50px;
}

header img {
  width: 250px;
}
header > div {
  width: 400px;
  height: 320px;
  margin-inline: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 93, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 20px;
}

/* MAIN */
.main-part {
  width: 400px;
  background-color: white;
  margin-inline: auto;
  padding: 15px;
  box-shadow: 0px 3px 15px 7px #7f7f7f;
}

.autore {
  color: #808080a3;
  margin-bottom: 0px;
  font-size: 18px;
}
.main-part iframe {
  width: 100%;
  border-radius: 20px;
}
.main-part .highlighting {
  color: #bc0909;
  font-weight: bolder;
}

.main-part .tags {
  border: 1px solid;
  margin: 2px;
  padding: 5px 8px 5px 8px;
  background-repeat: no-repeat;
  background-position: 10px center;
  border-radius: 3px;
  background-color: #80808047;
}

/* TABELLE */
caption {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
table {
  margin-inline: auto;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  text-align: center;
}
thead {
  background-color: #1162c1;
  color: white;
  height: 50px;
  border-bottom: none;
}

th {
  padding: 1rem;
  border: 1px solid white;
}

td {
  padding: 1rem;
  height: 50px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:last-child {
  border-bottom: 2pt solid #1162c1;
}

/* FORM */
.news h2 {
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}
.news p {
  font-size: 12px;
  margin-top: 0;
}
.news {
  width: 100%;
  margin-inline: auto;
  background-color: #80808047;
  padding: 16px;
}
.news button {
  background-color: #1162c1;
  font-weight: bold;
  color: white;
  margin-bottom: 16px;
  margin-top: 16px;
}
.submit-now {
  text-align: center;
}
/* ARTICOLI COORRELATI */

section > div {
  margin-top: 20px;
  width: 100%;
  margin-inline: auto;
  background-color: #80808047;
  padding: 16px;
}

section .data {
  text-align: right;
  margin-bottom: 0;
}
/* FOOTER */

.last-part {
  text-align: center;
  margin-inline: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 93, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 20px;
  color: white;
  margin-inline: auto;
  width: 400px;
  font-size: 8px;
}

.last-part h3 {
  font-size: 10px;
}
